<div id="I_bigContainer">
    <div class="Cls_mediumContainer">
        <div class="Cls_small">
           a
        </div>
        <div class="Cls_small">
            <div class="resume">
                <h1>Productos</h1>
                <span>20.000</span>
                <hr>
                <h1>Unidades Disponibles:</h1>
                <span>20.000</span>
                <hr>
                <h1>Valor del Inventario</h1>
                <span>20.000</span>
            </div>
        </div>
    </div>
    <div class="Cls_mediumContainer two">
            <app-category-list></app-category-list>
    </div>
</div>
