//Colores del contenido
$colorPrimary:#141726;
$colorSecundary:#34bf98;

//Mixins
//Disposicion del elemento
@mixin Disposicion($direction) {
    display: flex;
    flex-direction:$direction ;
}

#I_bigContainer{
    //dimenciones del elemento
    width: 100%;
    height: 100vh;
    //estilos del elemento
    background: $colorPrimary;
    //Disposicion del elemento

    @include Disposicion(row);
    justify-content: center;

    //Hijos

 .Cls_mediumContainer{
         //dimenciones del elemento
         width: 45%;
         //estilos del elemento
         background: burlywood;
         border: 2px solid red;
         //disposicion
         @include Disposicion(column);
         
        //Hijo
        .Cls_small{
            width: 100%;
            height: 50%;
            background: blue;
            border:2px solid rgb(63, 30, 210);
        }
        .Cls_small:nth-child(1){
            @include Disposicion(row);
            justify-content: center;
            align-items: center;
        }
        .Cls_small:nth-child(2){
            background: blue;
        }
    }

    .Cls_mediumContainer.two{
        background: chocolate;
     //disposicion
     @include Disposicion(column);
     .Cls_small{
         width: 100%;
         height: 100%;
         border: none;
         background: blue;
         @include Disposicion(column);
         justify-content: flex-start;
         align-items: center;
         }
    }
}