
<header>
    <div class="options">
        <div>
            <span>Categorias:</span>
            <strong>6</strong>
        </div>
        <div class="consult" [class]="search">
            <button class="btn-show" (click)="search = 'search-show'">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn-hide" (click)="search = 'search-hide'">
                <i class="fas fa-caret-left"></i>
            </button>
            <div class="search">
                <input type="text" name="" id="">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <button (click)="register='show'"><i class="fas fa-plus"></i></button>
    </div>
    <div class="filters" [class]="filter">
        <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
        </select>
        <!-- <i class="fas fa-sort-numeric-up"></i> -->
        <div>
            <button class="may" (click)="filter = 'mayor'"><i class="fas fa-sort-numeric-down"></i></button>
            <button class="men" (click)="filter = 'menor'"><i class="fas fa-sort-numeric-up-alt"></i></button>
        </div>
        
    </div>
</header>
<div id="I_bigCategory">
    <div id="I_medium" *ngFor="let category of category | paginate: {itemsPerPage: 6, currentPage: pageActual} " >
        <div>
            <h2>{{category.title}}</h2>
            <p>{{category.description}}</p>
        </div>
        <div>
           <p><span>{{category.puntos}}</span>ptos</p>
           <p><span>{{category.unidades}}</span>unds</p>
        </div>
        <div>
            <span>${{category.vTotal}}</span>
        </div>
    </div>
    <div>
        <pagination-controls class="my-pagination" (pageChange)="pageActual = $event" previousLabel=""
        nextLabel=""  ></pagination-controls>
    </div>
    <div *ngIf="register=='show'" class="modal-windows">
        <form action="">
            <h3>Nueva categoria</h3>
            <div class="a-form-control">
                <label for="name">Nombre</label>
                <input type="text">
            </div>
            <div class="a-form-control">
                <label for="name">Descripción</label>
                <textarea name="" id="" cols="30" rows="5"></textarea>
            </div>
            <button class="save">Guardar</button>
            <button  (click)="register='hide'" class="cancel">Cancelar</button>
        </form>
    </div>
</div>

