$colorPrimary:#141726;
$colorSecundary:#34bf98;

#I_bigCategory{
    width: 100%;
    height: 92vh;
    background: $colorPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-height:100%;
    #I_medium:hover{
        border: 3px solid rgb(167, 167, 231);
    }
    #I_medium{
        margin-top: 2%;
        width: 95%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        // background: white;
        border-radius: 20px;
        border: 3px solid $colorSecundary;
        position: relative;
        top: 1%;
        color: $colorSecundary;
        cursor: pointer;
        :nth-child(1){
            width: 60%;
            // background: yellow;
            border-radius: 20px;
             position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            h2{
                left: 2%;
                top: -20%;
                position: absolute;
                color: white;
            }
            p{
                left: 2%;
                top: 25%;
                width: 95%;
                position: absolute;
                color: white;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                // background: chartreuse;
            }
        }
        :nth-child(2){
            // background: blue;
            // flex-wrap: wrap;
            width: 20%;
            position: relative;
            -webkit-box-shadow: -8px 0px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -8px 0px 0px 0px rgba(0,0,0,0.75);
            box-shadow: -8px 0px 0px 0px rgba(0,0,0,0.75);
            // display: flex;
            // flex-direction: column;
            p{
                display: flex;
                flex-direction: row;
                
                position: absolute;
                width: 60%;
                // background: chartreuse;
                span{
                    width: 30%;
                    font-size: 1.2em;
                    font-weight: bold;
                    // background: coral;
                    // color: chocolate;
                }
            }
            p:nth-child(1){

                left: 5%;
                top: -5%;
            }
            p:nth-child(2){
                left: 5%;
                top: 35%;
            }

            // background: blue;
        }
        :nth-child(3){
            width: 20%;
            // background: brown;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // flex-wrap: wrap;
           span{
            font-size: 1.2em;
            font-weight: bold;
           }
        }
    }
    // .pages {
    //     .current{
    //         background: whitesmoke;
    //     }
    //     color: white;
    //      background: rgb(201, 201, 21);
    // }
    
//     .pages {
//         .ngx-pagination a {
//             color: #39da11;
//             display: block;
//             padding: 0.1875rem 0.625rem;
//             border-radius: 0;
//     }
  
// }
.my-pagination{
    background: red;
    top: 20%;
}
.my-pagination ::ng-deep .ngx-pagination .current {

    background:$colorSecundary;
}

.my-pagination ::ng-deep .ngx-pagination a{
    color: white;
    
}

.my-pagination ::ng-deep .ngx-pagination a:hover{
    background: $colorSecundary;
}



}

.options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actions {
        width: 70%;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1em;
        font-weight: 400;
        transition: all 1s;
        > span {
            position: absolute;
            top: 70%;
            left: -1%;
            font-size: 10px;
        }
        > a {
            width:  25px;
            height: 25px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: black;
            transition: all 1s;
            &:hover {
                box-shadow: 0 0px 3px #74747467;
            }
        }
        > div {
            overflow: hidden;
            position: relative;
            padding: 1%;
            overflow: hidden;
            display: flex;
            gap: 0.3em;
            transition: all 1s;
            > button {
                width: 5%;
                border: none;
                background: none;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                &:hover {
                    box-shadow: 0 0px 3px #74747467;
                }
            }
            .consult {
                width: 95%;
                background: transparent;
                border: 0.1px solid rgb(209, 209, 209);
                border-radius: 100px;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.2em;
                transition: all 0.8s;
        
                input {
                    width: 90%;
                    background: transparent;
                    padding: 0.5% 2%;
                    border: none;
                    outline: none;
                    font-size: 14px;
                }
                button {
                    width: 10%;
                    height: 100%;
                    border: none;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(133, 132, 132);
                    box-shadow: 0 1px 5px #74747467;
                    &:active {
                        background: blue;
                        color: white;
                    }
                }
            }
        }
        .right {
            height: 80%;
            transition: all 1s;
        }
        .searc {
            transition: all 1s;
        }
        .search-hide {
            width: 35px;
            .right {
                position: absolute;
                left: -40%;
            }
            .searc {
                width: 100%;
                transition: all 1s;
            }
        }
        .search-show {
            width: 80%;
            justify-content: flex-end;
            .right {
                position: absolute;
                left: 1%;
                transition: all 1s;
            }
            .searc {
                position: absolute;
                left: -40%;
                transition: all 1s;
            }
        }
    }
    .filters {
        width: 30%;
        position: relative;
        overflow: hidden;
        padding: 1%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.2em;
        select {
            border: none;
            background: none;
            outline: none;
            font-size: 15px;
        }
        button {
            background: none;
            border: none;
            border-radius: 5px;
            position: absolute;
            top: 10%;
            transition: all 1s;
            &:hover {
                box-shadow: 0 0px 3px #74747467;
            }
        }
        div {
            width:  25px;
            height: 25px;
        }
    }
    .mayor .may{
        top: -100%;
    }
    .menor .men{
        top: -100%;
    }
}