<div id="I_bigCategory">
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>
    <div id="I_medium">
        <div>
            <h2>Repuestos</h2>
            <p>Lorem ipsum dolor sit amet consectetur  </p>
        </div>
        <div>
           <p><span>30</span>ptos</p>
           <p><span>10</span>unds</p>
        </div>
        <div>
            <span>$20.000</span>
        </div>
    </div>


</div>
