$colorPrimary:#141726;
$colorSecundary:#34bf98;

.Cls_Pagination{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#I_bigCategory{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-height:100%;
    background: transparent;
    
    
    #I_medium{
        margin-top: 2%;
        width: 95%;
        
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // background: white;
        border-radius: 20px;
        border: 2px solid $colorPrimary;
        // position: relative;
        top: 1%;
        color: $colorSecundary;
        // cursor: pointer;
        #I_InformatioOne{
            width: 70%;

            // border-radius: 20px;
            //  position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap;
            padding-left: 0.5rem;
            
            h2{
              font-family: "MB";
              font-size: 1.8vh;
              color: $colorPrimary;
            }

            p{
                color: $colorPrimary;
                font-family: "MR";
                font-size: 1.7vh;
                width: 100%;
              
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
        }
        #I_InformatioTwo{
            width: 35%;
            padding: 5px;
            height: 58px;
            // background: blue;
            flex-wrap: wrap;  //REVISAR, al quitar la letra no se sale
            position: relative;
            -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
            border-end-end-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $colorPrimary;
            cursor: pointer;
            a i{
                display: none;
                
            }
            
            &:hover{
                background: rgba(0, 0, 63, 0.4);

                a i{
                    display: block;
                    position: absolute;
                    color: white;
                    opacity: 20;
                    top: 10%;
                    right: 40%;
                   font-size: 6vh;
                }
            }

            p{
                
                font-family: "MR";
                font-size: 2vh;
            }
            span{
                font-size: 2vh;
                font-family: "MB";
            }
                #Id_Total{

                    font-size: 2.7vh;
                    
                    // background: coral;
                    // color: chocolate;
                }
          
            

            // background: blue;
        }
        
    }

.my-pagination{
    background: red;
    top: 20%;
}
.my-pagination ::ng-deep .ngx-pagination .current {

    background:$colorSecundary;
}

.my-pagination ::ng-deep .ngx-pagination a{
    color: white;
    
}

.my-pagination ::ng-deep .ngx-pagination a:hover{
    background: $colorSecundary;
}



}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: #34bf98;
    color: $colorPrimary;
    flex-wrap: wrap;
    gap: 0.5em;
    padding-top: 15px;
    .options {
        display: flex;
        align-items: center;
        gap:0.8em;
        transition: all 0.5s;
        font-family: "MR";
        span{
            font-size: 1.8vh;
        }
        strong{
            font-size: 2vh;
            font-family: "MB";
        }
        button{
            background: transparent;
            border: none;
            cursor: pointer;
        }
        .consult {
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transition: all 0.5s;
          
           
            .search {
                border: 1px solid rgb(211, 209, 209);
                border-radius: 100px;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                transition: all 0.5s;

                input {
                    width: 70%;
                    background: transparent;
                    border: none;
                    padding: 0% 2%;
                    outline: none;
                }
                button {
                    width: 10%;
                    height: 100%;
                    box-shadow: 0px 0px 10px rgb(139, 139, 139, 0.5);
                    background: none;
                }
            }

            > button {
                position: absolute;
                transition: all 0.5s;
            }
        }
        .fa-plus{
            color: $colorPrimary;
            
        }
    }
    .search-hide {
        width: 30px;
        .search {
            width: 0%;
        }
        .btn-hide {
            left: -100%;
        }
        .btn-show {
            // background: transparent;
            // border: transparent;
            // cursor: pointer;
            left: 0%;
            .fa-search{
                color: $colorPrimary;
            }
        }
    }
    .search-show {
        width: 250px;
        .search {
            width: 92%;
        }
        .btn-hide {
            left: 0%;
        }
        .btn-show {
            left: -10%;
        }
    }
    .mayor{
        .may{
            display: none;
        }
        .menor{
            display: block;
        }
    }
    .menor{
        .men{
            display: none;
        }
        .may{
            display: block;
        }
    }
    .filters {
        width: 15%;
        // background: red;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 8%;
        // background: rgb(0, 0, 0);
        position: relative;
        flex-grow: 0;
        
        justify-content: flex-end;
        
        select {
            font-family: "MR";
            color: white;
            background: $colorPrimary;
            border: none;
        }

        div button{
            position: absolute;
            top: 0%;
            transition: all 0.5s;
            background:none;
            border: none;
            cursor: pointer;
        }
    }

}

.modal-windows {
    width: 100%;
    height: 95%;
    background: rgba(0, 0, 63, 0.4);
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
   color: $colorPrimary;
   font-family: "MB";

    form {
        padding: 5% 3%;
        width: 60%;
        height: 100%;
        background: white;
        position: absolute;
        right: 0%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        -webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.75);
        // box-shadow: 0px 0px 5px rgba(22, 22, 22, 0.5);
        
        .a-form-control {
            display: flex;
            flex-direction: column;
            padding-top: 25px;
            input, textarea {
                width: 80%;
                border: none;
                outline: none;
                border-bottom: 1px solid$colorPrimary;
            }
        }

        .save {
            background: $colorPrimary;
            border-radius: 5px;
            color: white;
            font-family: "MB";
        }
        .cancel{
            font-family: "MB";
        }
    }
}

.my-pagination{
    font-family: "MB";
}