

<header>
    <div id="I_logo">
        <a [routerLink]="['/stock']"><img src="assets/img/yourstore.png" alt=""></a>
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <span>San antonio de prado</span>
            <small>3126546766</small>
        </div>
    </div>
    <div id="consult" [class]="search">
        <button id="I_btnBuscar" (click)="search= 'search-show'"><i class="fas fa-search"></i></button>
        <button id="I_btnCerrar" (click)="search= 'search-hide'"><i class="fas fa-caret-left"></i></button>
        <div class="prueba" >
            <input type="text">
            <button><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div id="I_admin">
        <div id="I_search">
            <span>Catálogo</span>   
            <button><i class="fas fa-share-alt"></i></button>
            
        </div>
        <div id="I_admin-two">
            <button><i class="fas fa-bell"></i></button>
            <button><i class="fas fa-user"></i></button>
            <span>Luis Miguel Estrella</span>
            <button><i class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
   

</header>
 