<!-- <header>
    <div id="I_left">
        <ul id="I_ulLeft">
            <div id="I_list1">
                <li><a href="">Logo</a></li>
                <li><a href="">Location</a></li>
            </div>
        </ul>
    </div>

    <div id="I_center">
        <a href="">L</a>
    </div>

    <div id="I_right">
        <ul id="I_ulRight">
            <li><a href="">Catalogo</a></li>
            <li><a href="">N</a></li>
            <li><a href="">User</a></li>
            <li><a href="">C</a></li>
        </ul>

    </div>
</header>
<a  [routerLink]="['/stock']">Mujer</a> -->

<header>
    <div id="I_logo">
        <i class="fas fa-map-marker-alt"></i>
        <span>San antonio de prado</span>
        <small>3126546766</small>
    </div>
    <div>
        <i class="fas fa-search"></i>
    </div>
    <div id="I_admin">
        <div id="I_search">
            <span>Catalogo</span>   
            <i class="fas fa-share-alt"></i>
        </div>
        <div id="I_admin-two">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user"></i>
            <span>Luis Miguel Estrella</span>
            <button><i class="fas fa-sign-out-alt"></i></button>
        </div>

    </div>
</header>
