@font-face {
    font-family: "MB";
    src: url("assets/fonts/Montserrat-Black.ttf");
}
@font-face {
    font-family: "MR";
    src: url("assets/fonts/Montserrat-Regular.ttf");
}

*{
    // font-family: "MR";
    // padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(151,151,151);
        background: linear-gradient(0deg, rgba(151,151,151,1) 0%, rgba(255,255,255,1) 100%);
}
